* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-color: #f1f1f2;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.focused {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.btn {
  text-decoration: none;
  background-color: #f1f1f2;
  color: #000;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  border: none;
}

.btn:hover,
.btn:active {
  background-color: #f1f1f296;
}

.btn--flat {
  cursor: pointer;
  font: inherit;
  color: #000;
  border: none;
  background-color: #d3d3d3;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
}

.btn--flat:hover,
.btn--flat:active {
  background-color: #bcbabe;
}
